body {
    background-color: #2af1d1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.anchor {
    text-decoration: none;
    color: black;
    border: 1px solid green;
    border-radius: 7px;
    margin: 5px;
    padding: 20px;
    flex-grow: 2;
    width: 20rem;
    text-align: center;
}
header {
    text-align: center;
}
.container {
    border: 1px solid;
    border-radius: 10px;
}
.main-block .block {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.anchor:hover {
    background-color: greenyellow;
}
